/* --------------------- CSS Reset -------------------- */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul,
dl {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cab673;
    color: #333;
    padding: 20px;
}

header {
    background-color: rgb(251, 244, 191);
    color: var(--text-light);
    min-height: 80px;
    text-align: center;
    font-size: 2em;
}

.filters {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

.beer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.beer-card {
    background: rgb(251, 244, 191);
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.beer-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    background-color: rgb(251, 244, 191);
    color: #777;
}